/* YOUR STYLING HERE */
.title {
  color: $blue;
  margin: 0 auto;
  font-size: 3rem;
  text-align: center;
}

.question-box {
  margin: 1rem;
}

.question {
  margin: 1.5rem;
}

.answer {
  padding-left: 1.5rem;
}

.hidden {
  height: 0;
  color: transparentize(white, 1);
}

.fa-plus-square, .fa-minus-square {
  float: left;
  padding-top: 0.2rem;
}
